.social-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon-div{
    padding: 6px;
    cursor: pointer;
    margin: 6px;
    border-radius: 15px;
}

.social-icon{
    height:40px;
    background-color: whitesmoke;
    transition: all .2s ease-in-out;
}
.social-icon:hover{
    transform: scale(1.1);
}

@media only screen and (max-width:720px){
    .social-icon{
        height:32px;
    }
}