.header{
    display: flex;
    justify-content:space-between;
    width: 100%;
    position: relative;
    align-items: center;
}
.menu{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content:flex-end;
}
.menu-icon{
    font-size: 24px;
}

.mobile-menu{
    display: none;
}
.web-menu{
    display: flex;
}
.contact-button{
    display: flex;
}
@media only screen and (max-width:720px){
    .mobile-menu{
        display: flex;
    }
    .web-menu{
        display: none;
    }
    .contact-button{
        display: none;
    }

}

.in_button {
    padding: 15px 20px;
    background-color: #2568FB;
    color: white;
    font-size: 18px;
    border-radius: 16px;
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
}
.in_button:hover{
    background-color: blue;
}