.about{
    padding-bottom: 48px;
}
.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.picture{
    height:420px;
    width:auto;
}

.about-info{
    font-size:24px;

}
.Name{
    color: blue;
    font-weight: bold;
    font-size: 32px;
}
@media only screen and (max-width:720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .picture{
        height: 260px;
        width: 100px

    }
    .about-info{
        font-size:20px;
    }
    .Name{
        font: size 20px;
    }
}